


<app-menu></app-menu>

<router-outlet></router-outlet>





<!-- <div class="text-layout">

<h1> {{'Hola Piplu' | lowercase}}</h1>
</div>
<button pButton 
class="p-button-help"
icon="pi pi-check" 
iconPos="right"
(click)="mostrarNombre()"
label="Cambiar Nombre">
</button>
<br>
<p-card [header]="title | titlecase">
  Esta la cosa muy mala
</p-card>
<p-card>
  <ng-template pTemplate="header">
      Header content here
  </ng-template>
  Body Content
  <ng-template pTemplate="footer">
      Footer content here
  </ng-template>
</p-card> -->